In [28]:
# Imports
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import talib

# Load and visualize data.

In [ ]:
spy_data = pd.read_csv('data/SPY.csv', header=0, names=['Date', 'Open', 'High', 'Low', 'Close', 'AdjClose', 'Volume'])

In [ ]:
spy_data[35:1000]

In [ ]:
count = 0
coke_data = pd.read_csv('data/coke.csv', header=0, names = ['datadate', 'tic', 'cshtrd', 'prccd', 'prchd', 'prcld', 'prcod']).dropna()

In [ ]:
# Process data.
coke_data['datadate'] = pd.to_datetime(coke_data['datadate'], format='%Y%m%d')
coke_data['prccd'] = pd.to_numeric(coke_data['prccd']) #closing price
coke_data['prcod'] = pd.to_numeric(coke_data['prcod']) #opening price
coke_data['prchd'] = pd.to_numeric(coke_data['prchd']) 
coke_data['prcld'] = pd.to_numeric(coke_data['prcld'])
coke_data['cshtrd'] = pd.to_numeric(coke_data['cshtrd'])
coke_data

In [ ]:
coke_data.plot('datadate', 'prcod', title='Coke opening stock price from 2006-2021', grid=True)

In [ ]:
coke_data.plot('datadate', 'prccd', title='Coke closing stock price from 2006-2021', grid=True)

# Compute technical indicators.

In [ ]:
#RSI, MACD, OBV, CCI, ADI
coke_data['rsi'] = talib.RSI(coke_data['prcod']) #default period of 14 days
coke_data['rsi'][:15]

In [ ]:
coke_data.plot('datadate', 'rsi', title='Relative Strength Index 2006-2021', grid=True)

In [ ]:
coke_data['macd'], coke_data['macdsignal'], coke_data['macdhist'] = talib.MACD(coke_data['prccd']) # defaults: fastperiod=12, slowperiod=26, signalperiod=9

In [ ]:
coke_data.plot('datadate', ['macd', 'macdsignal', 'macdhist'], title='Moving Average Convergence/Divergence 2006-2021', grid=True)

In [ ]:
coke_data['obv'] = talib.OBV(coke_data['prccd'], coke_data['cshtrd'])
coke_data.plot('datadate', 'obv', title='On-Balance Volume 2006-2021', grid=True)

In [ ]:
coke_data['cci'] = talib.CCI(coke_data['prchd'], coke_data['prcld'], coke_data['prccd']) #default period: 14 days
coke_data.plot('datadate', 'cci', title='Commodity Channel Index 2006-2021', grid=True)

In [ ]:
coke_data['adx'] = talib.ADX(coke_data['prchd'], coke_data['prcld'], coke_data['prccd']) #default period: 14 days
coke_data.plot('datadate', 'adx', title='Average Directional Index 2006-2021', grid=True)

In [25]:
all_data = pd.read_csv('data/allStocks.csv', header=0, names=['gvkey', 'iid', 'Date', 'tic', 
                                                              'Volume', 'Close', 'High', 'Low', 'Open'])

/home/saad/envs/stocks/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3444: DtypeWarning: Columns (1) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [19]:
stock = []
for e in all_data['tic'].unique():
    if '.' in e or len(e) > 4:
        continue
    stock.append(e)

In [23]:
filtered = all_data.loc[all_data['tic'].isin(stock)]

In [24]:
filtered.to_csv('data/filtered.csv', index=0)

In [29]:
fp = pd.read_csv('data/filtered.csv', header=0)
fp

,gvkey,iid,Date,tic,Volume,Close,High,Low,Open
0,1045,2,20060103,AAR,14000.0,20.01,20.400,20.0000,20.25
1,1045,2,20060104,AAR,7200.0,20.10,20.140,19.9500,20.00
2,1045,2,20060105,AAR,17700.0,20.12,20.400,20.0100,20.10
3,1045,2,20060106,AAR,7600.0,20.34,20.340,20.1200,20.12
4,1045,2,20060109,AAR,21500.0,20.46,20.490,20.1500,20.49
...,...,...,...,...,...,...,...,...,...
1876119,316056,1,20211011,ALLE,510492.0,129.10,131.980,129.0700,130.97
1876120,316056,1,20211012,ALLE,533976.0,128.36,130.605,127.9900,129.40
1876121,316056,1,20211013,ALLE,590693.0,128.92,130.050,127.8600,128.70
1876122,316056,1,20211014,ALLE,472197.0,132.36,132.590,128.7201,130.09
1876123,316056,1,20211015,ALLE,519931.0,134.10,134.490,133.0450,133.55

In [32]:
# generate dataframe with technical indicators

output = []

for s in fp['tic'].unique():
    # select all rows with data
    df = fp.loc[fp['tic'] == s]
    # compute technical indicator
    df['rsi'] = talib.RSI(df['Open'])
    df['macd'], df['macdsignal'], df['macdhist'] = talib.MACD(df['Close']) # defaults: fastperiod=12, slowperiod=26, signalperiod=9
    df['obv'] = talib.OBV(df['Close'], df['Volume'])
    df['cci'] = talib.CCI(df['High'], df['Low'], df['Close']) #default period: 14 days
    df['adx'] = talib.ADX(df['High'], df['Low'], df['Close']) #default period: 14 days
    
    output.append(df)
    
output_df = pd.concat(output)
output_df[output_df['tic'] == 'AAR']

/home/saad/envs/stocks/lib/python3.7/site-packages/ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if __name__ == '__main__':
/home/saad/envs/stocks/lib/python3.7/site-packages/ipykernel_launcher.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # Remove the CWD from sys.path while we load stuff.
/home/saad/envs/stocks/lib/python3.7/site-packages/ipykernel_launcher.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # This is added back by InteractiveShellApp.init_path()
/home/saad/envs/stocks/lib/python3.7/site-packages/ipykernel_launcher.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if sys.path[0] == '':
/home/saad/envs/stocks/lib/python3.7/site-packages/ipykernel_launcher.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  del sys.path[0]

,gvkey,iid,Date,tic,Volume,Close,High,Low,Open,rsi,macd,macdsignal,macdhist,obv,cci,adx
0,1045,2,20060103,AAR,14000.0,20.01,20.4000,20.00,20.25,NaN,NaN,NaN,NaN,14000.0,NaN,NaN
1,1045,2,20060104,AAR,7200.0,20.10,20.1400,19.95,20.00,NaN,NaN,NaN,NaN,21200.0,NaN,NaN
2,1045,2,20060105,AAR,17700.0,20.12,20.4000,20.01,20.10,NaN,NaN,NaN,NaN,38900.0,NaN,NaN
3,1045,2,20060106,AAR,7600.0,20.34,20.3400,20.12,20.12,NaN,NaN,NaN,NaN,46500.0,NaN,NaN
4,1045,2,20060109,AAR,21500.0,20.46,20.4900,20.15,20.49,NaN,NaN,NaN,NaN,68000.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1508,1045,2,20111228,AAR,34225.0,4.71,4.9100,4.61,4.61,33.499023,-1.169541,-1.465642,0.296101,-1515574.0,-54.440796,42.517337
1509,1045,2,20111229,AAR,35487.0,4.68,4.7501,4.67,4.67,34.301181,-1.102216,-1.392957,0.290741,-1551061.0,-62.813924,41.680403
1510,1045,2,20111230,AAR,172850.0,4.49,4.4900,4.10,4.41,32.473232,-1.052064,-1.324778,0.272714,-1723911.0,-134.998289,41.525902
1511,1045,2,20120103,AAR,131214.0,4.65,4.6600,4.45,4.50,33.788583,-0.988018,-1.257426,0.269408,-1592697.0,-67.060178,40.994909
1512,1045,2,20120104,AAR,218544.0,4.65,4.9500,4.45,4.53,34.248348,-0.926581,-1.191257,0.264676,-1592697.0,-39.052200,39.863223

In [35]:
# convert date column to datetime
dates = pd.to_datetime(output_df['Date'], format='%Y%m%d', errors='coerce')
output_df['Date'] = dates

,gvkey,iid,Date,tic,Volume,Close,High,Low,Open,rsi,macd,macdsignal,macdhist,obv,cci,adx
0,1045,2,2006-01-03,AAR,14000.0,20.01,20.400,20.0000,20.25,NaN,NaN,NaN,NaN,14000.0,NaN,NaN
1,1045,2,2006-01-04,AAR,7200.0,20.10,20.140,19.9500,20.00,NaN,NaN,NaN,NaN,21200.0,NaN,NaN
2,1045,2,2006-01-05,AAR,17700.0,20.12,20.400,20.0100,20.10,NaN,NaN,NaN,NaN,38900.0,NaN,NaN
3,1045,2,2006-01-06,AAR,7600.0,20.34,20.340,20.1200,20.12,NaN,NaN,NaN,NaN,46500.0,NaN,NaN
4,1045,2,2006-01-09,AAR,21500.0,20.46,20.490,20.1500,20.49,NaN,NaN,NaN,NaN,68000.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1876119,316056,1,2021-10-11,ALLE,510492.0,129.10,131.980,129.0700,130.97,38.768668,-2.783498,-2.253651,-0.529848,77574844.0,-80.227493,31.482446
1876120,316056,1,2021-10-12,ALLE,533976.0,128.36,130.605,127.9900,129.40,36.115121,-2.900585,-2.383038,-0.517548,77040868.0,-91.577312,32.071512
1876121,316056,1,2021-10-13,ALLE,590693.0,128.92,130.050,127.8600,128.70,34.965976,-2.914592,-2.489349,-0.425244,77631561.0,-85.734648,32.650362
1876122,316056,1,2021-10-14,ALLE,472197.0,132.36,132.590,128.7201,130.09,39.109203,-2.617936,-2.515066,-0.102870,78103758.0,-18.550476,31.838763
1876123,316056,1,2021-10-15,ALLE,519931.0,134.10,134.490,133.0450,133.55,47.991380,-2.216875,-2.455428,0.238553,78623689.0,89.237597,30.236849

In [38]:
output_df[output_df['tic'] == 'AAPL']

,gvkey,iid,Date,tic,Volume,Close,High,Low,Open,rsi,macd,macdsignal,macdhist,obv,cci,adx
67091,1690,1,2006-01-03,AAPL,28712830.0,74.75,74.750,72.2500,72.380,NaN,NaN,NaN,NaN,2.871283e+07,NaN,NaN
67092,1690,1,2006-01-04,AAPL,22110430.0,74.97,75.980,74.5000,74.960,NaN,NaN,NaN,NaN,5.082326e+07,NaN,NaN
67093,1690,1,2006-01-05,AAPL,15996480.0,74.38,74.900,73.7500,74.830,NaN,NaN,NaN,NaN,3.482678e+07,NaN,NaN
67094,1690,1,2006-01-06,AAPL,25152850.0,76.30,76.700,74.5500,75.250,NaN,NaN,NaN,NaN,5.997963e+07,NaN,NaN
67095,1690,1,2006-01-09,AAPL,24102980.0,76.05,77.200,75.7400,76.880,NaN,NaN,NaN,NaN,3.587665e+07,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
71061,1690,1,2021-10-11,AAPL,64345350.0,142.81,144.810,141.8100,142.270,42.489038,-1.696059,-1.657658,-0.038400,1.403956e+09,-2.277702,31.027116
71062,1690,1,2021-10-12,AAPL,72537080.0,141.51,143.250,141.0401,143.230,45.352780,-1.699288,-1.665984,-0.033304,1.331419e+09,-45.811637,31.632869
71063,1690,1,2021-10-13,AAPL,78659170.0,140.91,141.400,139.2000,141.235,40.805437,-1.730317,-1.678851,-0.051466,1.252760e+09,-97.506847,32.692505
71064,1690,1,2021-10-14,AAPL,69809430.0,143.76,143.880,141.5100,142.110,43.482076,-1.507558,-1.644592,0.137035,1.322569e+09,45.657845,32.179335
71065,1690,1,2021-10-15,AAPL,67859820.0,144.84,144.895,143.5100,143.770,48.261813,-1.229697,-1.561613,0.331916,1.390429e+09,132.502022,31.170930

In [37]:
output_df.to_csv('data/filtered_with_ti.csv', index=0)